SKILL INTROSPECTION

self examine and excel is called skill introspection 
SWOT ANALYSIS - evaluating strengths weaknesses opportunities 
360 degree feedback - gather input from peers mentor and supervisors

SMART - specific measurable achievable relevant time-bound   (decision)


SKILL AQUISITION 

gaining of skill is called skill acquisition 


RESUME

purpose - summarizing skills experience and qualifications
	  grabbing attention of the employers
	  showcasing suitability for a specific job
Length should be 1-2 page only
concise and relevant information only
reverse chronological order 
or it should be focused on skill and qualifications 
or combination of chronological order and also focused on skill and qualifications

spelling mistake should be avoided


PROBLEM SOLVING 

identify->analyze->describe->look for root->developing alternate sol->implementing 
->measuring the result

CRITICAL THINKING 

it is a kind of thinking In which you question analyse interpret evaluate and make 
judgement 
identifying->gathering->analyzing->generating->making informed decisions 

LATERAL THINKING


it is closely related to insights creativity and humour 
random entry->provocation idea->movement techniques->challenge idea->concept fan idea->disproving

six thinking hats 
yellow -> positivity
green  -> creativity
red    -> emotion
white  -> rationally
black  -> negativity
blue   -> control


IMPRESION MANAGEMNT - GROOMING 

grooming is just clothing, hygiene and grooming products
in a nutshell, first impression matters, personal branding, confidence boost, cultural and situational awareness, professional success, long-lasting impact

IMPRESION MANAGEMENT - BODY LANGUAGE 

body language is non-verbal signal and cues that individual use to convey information, emotion and intentions through physical movements gestures and body language

IMPRESSION MANAGEMENT - BEHAVIOUR 

behaviour refers to the conscious or subconscious strategies one employ to control or influence the other 
Goffman's Dramaturgical Approach
Self-Presentation Approach
Social Identity Theory 

























